
h1
{
  position: absolute;
    left: 0px;
    top: 0px;
    font-size: 40px; /* Titres de 40 pixels */
    font-family: 'Montserrat Light', arial;
    color: #0099ff;
}


.button_draw {
  display: block;
  /*justify-content: center;
  align-items: flex-end;*/
  margin: 0, auto;

  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0099ff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;

  /*position: absolute;
  bottom: 30px;
  right: 600px;*/
}

.button_draw:hover {
  background-color: #0099ff;
  justify-content: center;
  align-items: flex-end;
}

.button_draw:active {
  background-color: #0099ff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  justify-content: center;
  align-items: flex-end;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 16px;
  background: #0099ff;
  color: #ffffff;
  font-size: 25px; /* Titres de 40 pixels */
  font-family: 'Montserrat Light', arial;
}

#canvas {
 border: 1px dotted grey;
 width: 50%;
 height: 500px;
 display: block;
 margin: 0 auto;
}
